### 4.1 리스트(List)   와 tuple
    - JS의 fpr (let fruit of fruits)와 같음

In [3]:
a = [3, 7, 13, 14, 19]
a, type(a)      #a와 타입 출력

([3, 7, 13, 14, 19], list)

In [4]:
# 리스트에는 다야한 자료형의 데이터를 사용할 수 있음
person = ['James', 27, 175.3, '남']
person

['James', 27, 175.3, '남']

- 인덱싱

In [5]:
person[0]

'James'

In [8]:
#슬라이싱 가능
a = [3, 7, 13, 14, 19]
a[1:-1], a[:2], a[3:]

([7, 13, 14], [3, 7], [14, 19])

In [10]:
#음수 인덱싱 가능
a[::2], a[::-1]

([3, 13, 19], [19, 14, 13, 7, 3])

- 값 변경: 뭐든지 들어갈 수 있음

In [11]:
#a = [3, 7, 13, 14, 19] 에서
a[1] = 8
a

[3, 8, 13, 14, 19]

In [13]:
#리스트 내 리스트 넣기
a[2] = [10, 20]
a

[3, 8, [10, 20], 14, 19]

In [15]:
#슬라이싱 대체
a[3:] = [24, 29]
a

[3, 8, [10, 20], 24, 29]

In [16]:
a[:2] = [100, 200, 300]
a

[100, 200, 300, [10, 20], 24, 29]

In [18]:
#값 20인덱싱
a[3][1], a[3][-1]

(20, 20)

- 빈 리스트 만들기

In [19]:
# 아래 두가지 방법 있음
a = []
b = list()

In [25]:
import random
for i in range(5):      #5회 반복
    a.append(random.randint(40, 100))       #append:  JS의 push와 같음
a

[1, 2, 3, 48, 86, 64, 90, 67]

- 리스트 연산

In [23]:
a = [1, 2, 3]   # concatanation
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [24]:
a * 3       # 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
len(b)

3

In [27]:
len('안녕하세요')   # JS => '안녕하세요'.length

5

### tuple - immutable(불변)
      -일단 생성되면 값 수정불가. list를 상수화 시킨 것

In [29]:
a = (24, 31, 47, 5, 25)
a, type(a)

((24, 31, 47, 5, 25), tuple)

In [30]:
a[2]

47

In [31]:
a[2] = 34       # 값변경x
a.append(88)    # 값 추가x

TypeError: 'tuple' object does not support item assignment

- tuple인 경우, 아닌경우

In [33]:
b= (24)
type(b)

int

In [34]:
c = (24,)
type(c)

tuple

In [38]:
d = 12, 25
type(d)

tuple

- 리스트 <-> 튜플

In [39]:
t = tuple([1, 2, 3])
l = list((4, 5, 6))
type(t), type(l)

(tuple, list)

- 리스트에 문자열 넣기

In [41]:
hello = list('안녕하세요')
hello

['안', '녕', '하', '세', '요']

- 리스트/ 튜플 언패킹(unpacking)

In [42]:
x, y, z = 10, 20, 30
x, y, z

(10, 20, 30)

In [43]:
x, y, z = [10, 20, 30]
x, y, z

(10, 20, 30)

In [44]:
x, y, z = list('ABC')
x, y, z

('A', 'B', 'C')