## 2.3 변수와 입력
- 일반적으로 변수는 선언하지 않는다(let 필요x).
- 모든 자료형(type) 값을 저장할 수 있지만 지양 됨(다른 언어는 불가하므로).

In [21]:
pi = 3.1415926535
pi + 2

5.1415926535

In [9]:
radius = 10
r = radius
print(f'원의 둘레: {2*radius * pi}')        #2파이r
print(f'원의 면적: {pi * radius ** 2}')

원의 둘레: 62.83185307
원의 면적: 314.15926535

- 변수 표기법
    - 기본: snake notation
    - 한글변수 가능

In [22]:
# Snake notation이 기본 원칙
my_height = 175         # myHeight
my_weight = 70          # myWeight

In [24]:
#한글변수 가능
한글변수 = 5
print(한글변수)

5

- 여러개의 변수

In [25]:
x, y, z = 10, 20, 30    # tuple unpacking


#tuple : a , b = (a , b)

In [31]:
# Swapping 값 맞바꿈 x <-> y
#일반적인 언어
temp = x
x = y
y = temp
x, y

(10, 20)

In [30]:
#파이썬에서는 아래와 같이 사용 가능
x , y = y , x
x, y

(20, 10)

- 값이 없는 경우
   - x = None

In [33]:
x = None        #대문자로 시작, JS의 Null에 해당
x   #변수 참조일 뿐, x 값 출력 안됨.

## (중요)*복합 대입 연산자(+=, *=, -= 등)

In [16]:
odd_sum = 0
for i in range(1,100,2):    #1~100까지 수를 2씩 증가시켜가며 더하기
    odd_sum += i
print(odd_sum)

2500

In [13]:
ten_factorial = 1
for i in range(1, 11):
    ten_factorial *= i
print(ten_factorial)

3628800

In [20]:
hello = ''
for i in range(3):      #3번 하라
    hello += '안녕!'    # '안녕!' * 3
print(hello)

안녕!안녕!안녕!

- 입력(input)
    - 어떤걸 입력해도 무조건 문자열 자료형 결과가 나옴(str)

In [34]:
a = input('Prompt>')
a, type(a)

('10', str)

In [41]:
# type 변환을 하지 않으면 엉뚱한 결과가 발생한다(value error).
a = input('정수를 입력하세요> ')    #3입력
b = input('정수를 입력하세요> ')    #4입력
a + b               # str과 str을 concaternation 한 값

'34'

In [40]:
#int로 타입변환 후 다시 계산 결과
a =int(input('정수를 입력하세요> '))
b = int(input('정수를 입력하세요> '))
a + b

7

In [44]:
# 인치 단위를 센티미터 단위로 변환
inch = float(input('인치값 입력'))
cm = inch * 2.54
print(f'{inch}인치: {cm:.2f}센티미터입니다')    #5.4입력하면 13.72센티

5.4인치: 13.72센티미터입니다

### 입력값 여러 개 받기
    - iput
    - split
    - map 등

In [46]:
# 문자열 split() mthod
'10 20'.split()     # () 생략= ' '

['10', '20']

In [48]:
a, b = '10, 20'.split()
a, b

('10,', '20')

In [49]:
a , b = input('두개의 숫자 입력> ').split()
a , b       #  3 4  한번에 입력

('3', '4')

In [50]:
a , b = input('두개의 숫자 입력(,로 구분)> ').split(',')       # 3,4
a , b

('3', '4')

In [54]:
# split() 과 map() 결합
a, b = map(int, input('두개의 숫자 입력').split())
a, b, a+b

(3, 4, 7)

- mapping

In [51]:
# list 각 element(원소)에 함수를 적용하는 법
list(map(int, ['10', '20']))        # [int('10'), int('20')]

[10, 20]

In [52]:
a, b = map(int, ['10', '20'])
a, b

(10, 20)

In [56]:
# x, y, z에 3개의 실수 입력값을 지정하고 싶은 경우
x, y, z = map(float, input('실수 3개 입력').split())
x, y, z, x+y+z

(1.2, 2.3, 4.5, 8.0)

In [57]:
#지혜연습
a, b = map(int, input().split())
a, b

(3, 4)